[submodule "atmos_cubed_sphere"]
  path = atmos_cubed_sphere
  url = https://github.com/Jili-Dong/GFDL_atmos_cubed_sphere.git 
  branch = rrfs_dev 
[submodule "ccpp/framework"]
  path = ccpp/framework
  url = https://github.com/NCAR/ccpp-framework
  branch = main
[submodule "ccpp/physics"]
  path = ccpp/physics
  url = https://github.com/Jili-Dong/community-ccpp-physics.git 
  branch = rrfsens_2023HWT 
[submodule "upp"]
  path = upp
  url = https://github.com/NOAA-EMC/UPP
  branch = develop
